body {
    font-family:Verdana, sans-serif;
    --primary: #335576;
    --background-orange: #FEFAF5;
    --secondary: #DB7A4E;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 5%;
}

.navbar__logo {
    display:inline-block;
    height:fit-content;
    color: var(--primary);
    font-size:24px;
}

.navbar__link {
    display:inline-block;
    margin: 0 15px;
    font-size:18px;
    border-bottom:4px solid white;
    transition: border-bottom 0.1s;
}

.navbar__link--active {
    border-bottom:4px solid var(--secondary);
}

.navbar__link:hover {
    border-bottom:4px solid var(--secondary);
}

.navbar__list {
    display:block;
    margin:0;
    padding:0;
    height:fit-content;
}

.footer {
    background-color: var(--background-orange);
    color: var(--primary);
}

/* .footer__section {
    display:flex;
    align-items:flex-end;
    justify-content: space-between;
} */

.footer__section {}

.footer__subtitle {
    color: var(--secondary);
    font-size:12px;
    text-transform: uppercase;
    margin-bottom:10px;
}

.footer__title {
    margin-bottom:30px;
}

.bold {
    font-weight:700;
}

h1, h2, h3, p {
    margin: 0;
}

a {
    text-decoration: none;
    color:inherit;
}