body {
    font-family:Verdana, sans-serif;
    --font-blue: #335576;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 10px 5%;
}

.navbar__logo {
    display:inline-block;
    height:fit-content;
    color: var(--font-blue);
    font-size:24px;
}

.navbar__link {
    display:inline-block;
    margin: 0 15px;
    font-size:18px;
    border-bottom:4px solid white;
    transition: border-bottom 0.1s;
}

.navbar__link--active {
    border-bottom:4px solid #DB7A4E;
}

.navbar__link:hover {
    border-bottom:4px solid #DB7A4E;
}



.navbar__list {
    display:block;
    margin:0;
    padding:0;
    height:fit-content;
}

.bold {
    font-weight:700;
}

h1, h2, h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color:black;
}