.hero {
    background-color:var(--background-orange);
    color:var(--primary);
    font-size:19px;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding:3% 7%;
}

.hero__left {
    max-width:45vw;
}

.hero__text--large {
    font-size:48px;
    text-transform: capitalize;
    margin-bottom:2.5rem;
    font-weight:700
}

.hero__img {
    width:550px;
}

.hero__link {
    background-color:var(--secondary);
    color:white;
    padding:10px 50px;
    border-radius: 50px;
    margin-top:2rem;
    display:inline-block;
}